{:nrepl {:port 7002}
 :builds
 {:app
  {:target     :browser
   :output-dir "target/cljsbuild/public/js"
   :asset-path "/js"
   :modules    {:app {:entries [cde.app]}}
   :js-options {:npm-deps {:react "17.0.2"
                           :react-dom "17.0.2"}
                :foreign-libs [{:file "public/js/auth0_client.js"
                                :provides ["auth0_client"]}]
                }
   :devtools   {:watch-dir "resources/public"
                :preloads  [re-frisk.preload]}
   :dev        {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
   :release    {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
                :compiler-options {:optimizations :simple
                                   :pretty-print false
                                   :source-map true}}}
  :test {:target  :node-test, :output-to "target/test/test.js"
         :autorun true}}
 :lein  {:profile "+dev"}}