name: Deploy to Heroku

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'zulu'

    - name: Install Node.js dependencies
      run: npm ci

    - name: Build uberjar
      run: lein uberjar

    - name: Deploy to Heroku
      uses: AkhileshNS/heroku-deploy@v3.12.13
      with:
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: cde-to-be-continued
        heroku_email: g@galen.me
        usedocker: true
